############################
# OS / SYSTEM
############################
.DS_Store
Thumbs.db

############################
# IDE / EDITORS
############################
.vscode/
.idea/
*.swp
*.swo

############################
# PYTHON
############################
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

############################
# DOCKER
############################
*.env
*.env.local
docker-compose.override.yml

############################
# LOGS TP / LAB
############################
logs/
*.log

############################
# CYBER / FORENSICS
############################
*.pcap
*.pcapng
*.cap

############################
# DATASETS TEMPORAIRES
############################
*.csv
*.xlsx
*.json

############################
# BINAIRES
############################
*.exe
*.dll
*.so

############################
# ARCHIVES
############################
*.zip
*.tar
*.tar.gz
*.rar

############################
# NODE (si jamais utilisé)
############################
node_modules/

############################
# BUILD
############################
dist/
build/

############################
# SECRET / SECURITY
############################
id_rsa
id_rsa.pub
*.pem
*.key

############################
# JUPYTER
############################
.ipynb_checkpoints/

############################
# MISC
############################
*.bak
*.tmp
*.old